.not-found-container {
  background-color: #161625;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  width: 448px;
  height: 300px;
}
.not-found-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #cbd5e1;
}
.not-found-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #94a3b8;
  width: 483px;
}
.not-found-link-btn {
  text-decoration: none;
}
.not-found-home-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  background-color: #2563eb;
  border-radius: 12px;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
